:root{
  --text-icone: #FFFFFF;
  --texto-apresentacao: #FFF;
  --cor-fundo: #FFF;
  --texto-produtos: #464646;
  --texto-label: #A2A2A2;
  --azul-button: #2A7AE4;
  --cinza-fundo: #F5F5F5;
  --fundo-footer: #EAF2FD;
  --imagem-hero: url('../img/hero.jpg');
}

body{
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}


  

  



